.App {
  text-align: center;
  margin-left:30%;
  margin-right:30%;

}

body{
  background-color: #b8eefd;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.task-style button{
  display: inline-block;
}
.task-align{
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-styles{
  margin-bottom:4%;
  /* border-radius: 25%; */
  height:25px;
  margin-right:10px;

}
.clear-button{
  margin-top: 10%;
}
.task-style{
  margin-left:30%;
  margin-top:3%;
  text-align: left;

}
.organize-tasks{
 
  align-items: center;
  text-align: center;
}
button{
  font-size:16px;
  background-color: rgb(70, 18, 119);
  color:white;
  border: none;
  border-radius: 5%;
  padding:4px;
}